<ion-header>
  <ion-toolbar>
    <ion-title>Chat bot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let conversation of conversations">
    <div class="bubble me">
      {{conversation.message}}
    </div>
    <br/>
    <div class="bubble you">
      {{conversation.answer}}
    </div>
  </div>

</ion-content>

<ion-footer>

  <input ion-text type="text" [(ngModel)]="message">

  <button icon-only (click)="getMessage(message)" right>
    <ion-icon name="send"></ion-icon>
  </button>
  <button icon-only (click)="getVoiceMessage()" right>
    <ion-icon name="mic"></ion-icon>
  </button>

</ion-footer>